[submodule "query-answering-system"]
	branch = main
	url = https://github.com/NxtGen-AI-Public/query-answering-system
	path = query-answering-system
[submodule "llm-approach-from-scratch"]
	branch = main
	path = llm-approach-from-scratch
	url = https://github.com/NxtGen-AI-Public/llm-approach-from-scratch.git
[submodule "self-rag"]
	path = self-rag
	url = https://github.com/NxtGen-AI-Public/self-rag
[submodule "transformers-under-the-hood"]
	path = transformers-under-the-hood
	url = https://github.com/NxtGen-AI-Public/transformers-under-the-hood
[submodule "submodules/A2A-protocol"]
	path = submodules/A2A-protocol
	url = https://github.com/NxtGen-AI/a2a-protocol.git
